---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/12444/images
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer tmdb_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b2b83070da84b266b3417226069c94b6
      X-Memc-Age:
      - '20498'
      X-Memc-Expires:
      - '4881'
      Etag:
      - W/"3933d409b456b99f50f9823ee9f3c70a"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/AqLcLsGGTzAjm3pCCq0CZCQrp6m.jpg","vote_average":5.456,"vote_count":9,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"tr","file_path":"/vcrgU0KaNj5mKUCIQSUdiQwTE9y.jpg","vote_average":5.454,"vote_count":3,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/fXRXpzxUApE3OuXhIqsdavQjCVa.jpg","vote_average":5.338,"vote_count":13,"width":1920},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/slW0M2G9txC0aUbftCTm1nYX1K8.jpg","vote_average":5.33,"vote_count":9,"width":3840},{"aspect_ratio":1.778,"height":1440,"iso_639[...]
