---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=%3Balksdbtaoivijalk%3Bsdthjkhlkask
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer tmdb_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 2aeb1da6e98013325cb7cf701f4f5b5a
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '22598'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Wed, 10 May 2023 23:47:48 GMT
recorded_with: VCR 6.1.0
