<%= link_to 'Discover Page', discover_index_path %>

<ol>
  <% @facade.movies.each do |movie| %>
    <li class='movie'>
      <a class='title'><%= link_to movie.title, user_movie_path(@facade.user_id, movie.id) %></a>
      <p class='vote_average'>Vote Average: <%= movie.vote_average %></p>
    </li>
  <% end %>
</ol>