<h2>Landing Page</h2>

<%= link_to "Create New User", register_path, class: "btn btn-primary" %>

<div id='user_list'>
  <h3>All Users:</h3>
  <% @users.each do |user| %>
    <%= link_to "#{user.name}", user_path(user) %>
  <% end %>
</div>