<h2>Landing Page</h2>
<% if current_user %>
  <%= button_to "Log Out", user_path(@user_session), method: :delete%>
<% else %>
  <%= link_to "Create New User", register_path, class: "btn btn-primary" %>
  <br>
  <%= link_to "Login as an Existing User", login_path  %>
<% end %>
