<h2>Landing Page</h2>
<% if current_user %>
  <%= link_to "Log Out" %>
<% else %>
  <%= link_to "Create New User", register_path, class: "btn btn-primary" %>
  <br>
  <%= link_to "Login as an Existing User", login_path  %>
<% end %>
