---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/12444/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer tmdb_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 2f81fe8477a5683efa7a6e431727e349
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '23256'
      Etag:
      - W/"332cf74b0d4594e6c8047e8bb1a80aca"
    body:
      encoding: ASCII-8BIT
      string: '{"id":12444,"page":1,"results":[{"author":"ohlalipop","author_details":{"name":"","username":"ohlalipop","avatar_path":"/https://secure.gravatar.com/avatar/d43accfe23739fc82d4a51f04c51b70e.jpg","rating":null},"content":"I''ve
        been really looking forward to watching this film. Book 7 is my favorite Harry
        Potter book so being able to see it on film is really exciting. I was satisfied.
        I know I won''t see everything that I read in the movie although there were
        some parts wherein I wished I saw it like the goodbye of the Dursleys to Harry.
        It made me tear up while reading the book but I didn''t really see it in the
        film. Also, the way how Hedwig died in the film did not make that big of an
        impact. I was surprised though in the part where Harry and Hermione kissed.
        It was in the book but in the movie, they were naked! I was really surprised.
        And then Hermione looks gorgeous as always and Harry looked good in the movie
        too. The part where Harry and Hermione danced was not in the book but I liked
        that part. Harry looked cute for me in that part. \r\n\r\n\r\nAll in all,
        I was satisfied. I''m looking forward to watch the next part and I can''t
        wait. My rate for this movie is A.","created_at":"2017-02-09T10:15:12.120Z","id":"589c4130925141254b00343d","updated_at":"2021-06-23T15:57:53.586Z","url":"https://www.themoviedb.org/review/589c4130925141254b00343d"}],"total_pages":1,"total_results":1}'
  recorded_at: Fri, 12 May 2023 19:53:59 GMT
recorded_with: VCR 6.1.0
