<h2>Discover Movies Page</h2>

<%= link_to 'Find Top Rated Movies', movies_path(search: 'top%20rated'), class: 'btn btn-primary' %>

<%= form_with url: movies_path, method: :get, local: :true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit 'Find Movies' %>
<% end %>